[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
Pillow = "*"
PyMuPDF = "*"
psycopg2-binary = "*"
pyfiglet = "*"

[dev-packages]
sphinx = "*"
babel = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.11"
